.ItemDetail{
   width: 100%;
   height: 140px;
   background: #fff;
   text-align: center;
   line-height: 50px;
   margin-top: 10px;
   .ss{
    color: #ff0064;
    padding: 10px;
   }
   .ss1{
      font-size: 30px;
      color: #ff0064;
      padding: 10px;
   }
}