
div,ul,li,span{
    background-color:var(--homeindex-color) !important;
    color: var(--color);
}
header,main,footer{
    background-color:var(--background-color)!important;
    color: var(--color); 
}
.homeindex{
    color: var(--color);
}
header,main,footer{
    background-color:var(--background-color)!important;
    color: var(--color); 
}
.homeindex{
    background-color: var(--background-color) !important;
}
