.pagination{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  margin-top: 15px;
  span {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
  }
  .active {
    border-color: red ;
   }
 
}

 

