.MaskLayerBox{
    width: 100%;height: 100%;
    position:fixed;
    background: rgba(69, 69, 69,0.2);
    top: 0;
    left: 0;
    z-index: 99;
    .MaskLayerTan{
        position: fixed;
        background: #fff;
        width: 600px;height: 240px;
        top: 25%;left: 20%;
    }
    .MaskLayerH{
       width: 100%;
       height: 50px;
       border-bottom: 1px solid #eee;
       display: flex;
       justify-content: space-between;
       .MaskLayerSpan1{
           display: inline-block;
           margin: 10px;
       }
       .MaskLayerSpan2{
        display: inline-block;
        margin: 10px;
       }
    }
    .MaskLayerH1{
        margin: 20px 0 0 10px;
         .MaskLayerIpu{
        width: 82%;
        height: 30px;
        border: 1px solid #eee;
    }
    }
   .MaskLayerH2{
       margin-top: 40px;
       display: flex;
       justify-content: flex-end;
       .MaskLayerBtn1{
           background: #fff;
           color: red;
           border: 1px solid red;
           margin: 5px 5px 5px 5px;
       }
       .MaskLayerBtn2{
        background: red;
        color: #fff;
        border: 1px solid #fff;
        margin: 5px 43px 5px 16px;
       }
   }
}
