.comment {
  background-color: white;
   margin-top: 10px;
   padding-left: 20px;
    .header {
        height: 44px;
        display: flex;
       >span {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            color: white;
           line-height: 36px;
        }
      >div{
        display: inline-block;
        display: flex;
      }
    }
    .content{
        line-height: 24px;
        padding-left: 30px;
        font-size: 15px;
    }
    .footer{
        height: 26px; 
        display: flex;
        padding-left: 20px;
        font-size: 12px;
        span {
            margin: 0 15px;
        }
    }
    .comment{
      margin-top: 0px;
      padding-left: 30px;
    }
}
