.center{
    display: flex;
    justify-content: space-around;
    // border-bottom: 1px solid #000;
}
.red{
    margin-left: 20px;
    color: red;
}
.RightPlace{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #000;
    margin-top: 5px;
    padding-top: 5px;
}
.sixteen{
    font-size: 16px;
}
.em{
    font-size: .9em;
}
.ant-modal-body{
    height: 410px;
}
.ant-btn-default:hover{
    color: red;
    border: red;
}
.ant-btn-primary{
    margin-left: 16px;
}

.ant-modal-content{
    height: 500px;
}
.ant-btn-dangerous{
    color: white;
}
.ant-btn-dangerous{
    background: transparent !important;
    
}
.Adjust{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.share{
    display: flex;
    align-items: center
}