:root.light {
    --color: #000;
    --background-color: #e7eaee;
    --homeindex-color: transparent;
    --rightbottom-color: #fff;
    --header-color: #fff;
    --slick-one: #fff;
}

:root.dark {
    --color: #fff;
    --background-color: #282c35;
    --header-color: #282c35;
    --homeindex-color: #363c48;
    --slick-one: #363c48;
    --rightbottom-color:#363c48;

}

.ant-layout {
    width: 100%;
    height: 100%;
}
.searchlist{
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99;
    position: fixed;
    main{
      background: white;
      width: 1680px;
      display: flex;
      justify-content: space-around;
    }
    .ant-space-vertical{
      width: 1040px;
    }
    
    .container{
      padding: 2rem 1rem;
      header{
        display: flex;
        justify-content: space-around;
        // span{
        //     width: 830px;
        // }
    }
    .ant-space-vertical {
       width: 100%;
       .ant-space-item{
        width: 888px;
      margin-left: 300px;
       }
    }

    .container {
        padding: 2rem 1rem;
        header {
            display: flex;
            justify-content: space-between;
            padding: 1rem 13.5rem;
            align-content: space-between;
            .searchtitle {
                font-size: 1.5rem;
                font-weight: 600;
            }
            span {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .svgimg {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        span{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .svgimg{
            width: 25px;
            height: 25px;
          }
        }
        
      }
    }
  }
.ant-layout-header {
    padding: 0 150px;
    box-sizing: border-box;
    .header {
        display: flex;
        position: relative;
        .left {
            height: 64px;
            padding-left: 30px;
            .lefts{
                width: 50px;height: 64px;background: skyblue
            }
        }
        .menu {
            flex: 1;
            height: 64px;
            box-sizing: border-box;
            display: flex;
            padding-left: 30px;
            li {
                text-align: center;
                line-height: 64px;
                width: auto;
               min-width: 100px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .right,
        .rights {
            width: 180px;
            display: flex;
            height: 100%;
            div {
                flex: 1;
                text-align: center;
                box-sizing: border-box;
                font-size: 35px;
                height: 64px;
            }
        }
        .rights {
            margin-left: 500px;
            position: relative;
            .pos {
                position: absolute;
                width: 400px;
                 height: 260px;
                background-color: white;
                
                top: 65px;
                right: 160px;
                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    li {
                        flex: 1;
                        line-height: 30px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.ant-layout-content {
  margin-top: 64px;
  box-sizing: border-box;
  .homeindex {
      padding: 0 150px;
      width: 100%;
      box-sizing: border-box;
      margin-top: 5px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      .homeindexs {
          display: flex;
          box-sizing: border-box;
          flex-wrap: wrap;
      }
  }
}
// 去除滚动条
.homeindex::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
    display: none;
  } 
// pc端小屏
@media screen and (max-width: 900px) {
    .ant-layout {
        background: #ccf;
    }
    .homeindex {
        padding: 0 30px !important;
        .homeindex_right {
            display: none;
        }
        .homeindex-left {
            width: 100%;
            box-sizing: border-box;
            
                .screen_both {
                    width: 100%;
                    height: auto;
                    background: #fff;
                }
        }
    }
    .ant-layout-header {
        padding: 0 30px;
        padding-right: 30px;
    }
    .slick-one {
        width: 100%;
        height: 300px;
        padding: 15px;
        margin-top: 20px;
        position: relative;
    }
}

@media screen and (min-width: 901px) {
    .homeindex {
        .homeindex-left {
            padding-top: 20px;
            width: 55%;
            .slick-one {
                width: 100%;
                height: 300px;
                padding: 10px;
                margin-top: 20px;
                position: relative;
            }
            .screen_both {
                width: 100%;
                height: auto;
                background: #fff;
                margin-top: 8px;
              ul{
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #e7eaee;
                li{
                    margin-right: 30px;
                    height: 50px;
                    line-height: 50px;
                    padding-left: 15px;
                }
                li:hover {
                        color: red;
                }
              }
              
              
            }
            .homeindexzj{
                background: var(--rightbottom-color);
                padding: 1rem 1.5rem;
                h4{
                    color: var(--color);
                    font-size: 1.5rem;
                }
                .homeindexzczj{
                    padding: 0.5rem 1rem;
                    h5{
                        color: var(--color);
                        font-size: 30px;
                        font-weight: bold;
                    }
                    ul{
                        padding-left: 1.5rem;
                        animation:knowledge 1s linear ;
                        overflow: hidden;
                        li{
                            animation:knowledges 1s linear ;
                            list-style: disc;
                            padding: 0.5rem;
                            overflow: hidden;
                            height: 50px;
                            span {
                                font-size: 25px;
                                font-weight: bold;
                                font {
                                    font {
                                        font-size: 25px;
                                        font-weight: bold;
                                    }
                                }
                            }
                            
                        }
                        li:hover {
                            span{
                                color: red;
                            }
                        }
                    }
                }
            }
            .archivesys{
                display: flex;
                align-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
                background: var(--rightbottom-color);
                padding: 16px 0;
                border-bottom: 1px solid #f0f2f7;
                .archivesss{
                    color: #ff0064;
                    font-size: 1.5rem;
                }
                .archivesflex{
                    display: flex;
                    justify-content: space-around;
                    width: 150px;   
                    background: var(--rightbottom-color);
                    .archives{
                        color: #ff0064;
                    }
                    
                }
            }
        }
        .homeindex_right {
            border: 0;
            width: 45%;
            height: 100%;
            box-sizing: border-box;
            overflow: hidden;
            margin: 0;
            padding-top: 30px;
            padding-left: 30px;
            position: sticky;
            top: 0px;
            .rights {
                width: 100%;
                height: auto;
                background-color: white;
                margin-bottom: 15px;
                border-radius: 10px;
                box-shadow: 8px 8px 5px 1px #999;
                h4 {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #ccc;
                    padding-left: 15px;
                }
                ul {
                    li {
                        padding-left: 15px;
                        line-height: 30px;
                        span {
                            display: inline-block;
                            margin-left: 15px;
                        }
                    }
                    li:hover {
                        color: red;
                    }
                }
            }
            .screen_both{
                width: 100%;
                height: auto;
                background-color: var(--rightbottom-color)!important;
                color:var(--color);
                border-radius: 10px;
                padding: 8px 7px;
                box-shadow: 8px 8px 5px 1px #999;
                .nav_both{
                    h4{
                        color:var(--color);
                        height: 50px;
                        border-bottom: 1px solid #ccc;
                        line-height: 50px;
                    }
                    li{
                        line-height: 30px;
                    }
                    li:hover{
                        color: red;
                    }
                }
                
            }
            .rightbum {
                width: 100%;
                height: auto;
                background-color: white;
                border-radius: 10px;
                box-shadow: 8px 8px 5px 1px #999;
                margin:50px 15px 0 0;
                h4 {
                    height: 50px;
                    line-height: 50px;
                    border-bottom: 1px solid #ccc;
                    padding-left: 15px;
                }
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    li {
                        padding:0 10px 0 10px;
                        border: 1px solid #ccc;
                        margin: 7px;
                        text-align: center;
                    }
                    li:hover {
                        color: red;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
    .kenow{
        width: 1400px;
        height: auto;
        margin-left: 180px;
        overflow: hidden;
        .kenowTop{
            width: 800px;
            height: 100px;
            margin: 25px 0;
            background-color: var(--rightbottom-color)!important;
            .kenowT{
                text-align: center;
                h3{
                    display: inline-block;
                    margin-top: 20px;
                    color:var(--color);
                    span{
                        color: red;
                        font-size: 25px;
                    }
                }
                h1{
                    color:var(--color);
                    span{
                        color: red;
                        font-size: 25px;
                    }
                }
            }
        }
        .kenowBum{
            width: 800px;
            height: auto;
            background-color: var(--rightbottom-color)!important;
            ul{
                border-bottom: 1px solid #ccc;
                li{
                    color:var(--color);
                }
            }
            .kenowDl{
                width: 100%;height: auto;
                padding: 10px;
                h1{
                    font-size: 20px;
                    font-weight: 800;
                    color:var(--color);
                    span{
                        // color:var(--color);
                        display: inline-block;
                        margin-left: 30px;
                        font-size: 15px;
                    }
                }
                h2{
                    img{
                        width: 190px;height: 100px;
                    }
                }
            }
            .kenowW{
                width: 100%;
                height: 300px;
                background: red;
            }
            
        }
    }
}
.kenowR{
    width: 400px;
    height: auto;
    position: fixed;
    top: 80px;
    right: 100px;
    background-color: var(--rightbottom-color)!important;
    border-radius: 10px;
    h4{
        height: 60px;
        line-height: 60px;
        font-size: 25px;
        padding-left: 15px;
        color:var(--color);
        border-bottom: 1px solid #ccc;
    }
    .ant-spin{
        background-color: var(--rightbottom-color)!important;
    }
    .right_cartoon__p0QWR{
        padding-left: 15px;
   }
   .kenowTag{
    width: 100%;
    height: auto;
    .kenowUl{
        display: flex;
        flex-wrap: wrap;
       
        li{
            padding-left: 15px;
            font-size: 20px;
            border: 1px solid red;
            margin: 10px;
            text-align: center;
            padding:0 10px 0 10px;
        }
        li:hover{
            color: red;
        }
    }
   }
}
.slick-two {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.slick-two {
  width: 100%;
  height: 100%;
}

.ant-carousel,
.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.contentStyle,
.swiper,
.slick-slide > div {
  width: 100%;
  height: 100%;
}

.contentStyle {
  position: relative;

  .slick-three {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      font-size: 26px;
      text-align: center;
      line-height: 290px;
  }
}
 .on {
  color: #ff0064 !important;
}
.ss {
  display: inline-block;
  font-size: 20px;
  margin: 5px 10px;
}
.ss:hover {
  color: #ff0064;
}


h2 {
  font-size: 20px;
  font-weight: 900;
  padding: 18px 0 18px 15px;
}
.item-flex {
  display: flex;
  dt {
      margin-right: 30px;
      width: 50%;
      .img {
          width: 100%;
          height: 150px;
      }
  }
  > dd {
      font-size: 16px;
  }
}
.screen-box:hover {
    .screen_disflex {
        h2 {
        color: #ff0064 !important; 
    } 
    }
    
}
.screen-box {
    width: 100%;
    background: var(--rightbottom-color);
    border-top: 1px solid #eee;
    padding: 18px 0 18px 15px;
    // height: 100%;
    background: #fff;
    .screen_disflex {
        
        width: 100%;
        display: flex;
        align-items: center;
       
        h2{
            color: var(--color);
            padding: 5px;
            white-space: nowrap;  
           text-overflow:ellipsis; 
            overflow:hidden;
        }
        span {
            color: #eee;
            padding: 5px;
            white-space: nowrap;  
        }
        div{
            white-space: nowrap;  
        }
        .screen_times {
            font-size: 18px;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 1360px) {
    .screen_both {
        width: 100%;
        height: auto;
        background: #fff;
        margin-top: 8px;
    }
    .homeindex {
        .ant-back-top{
            right: 50%;
          }
        .homeindexs {
            .homeindex-left {
                width: 55%;

            }
            .homeindex_right {
                width: 45%;
                padding: 30px 60px 60px 60px;
                .rights,
                .rightbum,
                .rightbottom {
                    width: 100%;
                }
            }
        }
    }
}
.screen_empty {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  > span {
      font-size: 20px;
  }
}
.pos {
    animation: mymove 0.3s linear;
    .poss {
      animation: mymoves 0.3s linear  ;
    }
}
@keyframes mymove {
  from {
      height: 0px;
  }
  to {
      height: 300px;
  }
}
@keyframes mymoves {
  from {
      width: 0px;
     height: 0px;
  }
  to {
      width: 400px;
      height: 30px;
  }
}
@keyframes knowledge {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 100%;
        height: auto;
    }
}
@keyframes knowledges {
    from {
        width: 0;
        margin-left: -100%;
    }
    to {
        width: 100%;
        margin-left: 0;
    }
}

.ant-layout-footer{
    padding: 0 34px
}