header,
.header,
.left,
.right,
.menu,
.menu>li,
.menu>li>a,
.menu>li>a>font>font,
.right > div,
.ant-layout-header ,
.rights,
.rights>div
{
    background-color: var(--header-color);
    color: var(--color);
}

main,
footer,
body,
#root,
.ant-layout,
.ant-layout-footer,
.homeindex{
  background-color: var(--background-color);
  color: var(--color);
}

.slick-one,
.slick-two
{
  background-color: var(--slick-one);
  color: var(--color);
}

.ant-carousel,
.slick-slider,
.slick-track,
.slick-slide,
.screen_both,
.nav_both > a,
.ss>font>font,
.rights,
.rights>h4,
.rightbum,
.rights > ul,
.rights > ul > li,
.rightbum > h4,
.rightbum > ul,
.rightbum > ul > li,
.screen-box,
.screen_both > div,
.screen_both > div > h2,
.screen_both > div > div,
.screen_both > div > .item-flex,
.rightbottom,
.rightbottom>h4,
.lis,
.lis>li,
.nav_both,
.pos,
.pos>ul>li,
.pos>ul>li>a,
.ant-spin-nested-loading>.ant-spin-container>ul,
.ant-spin-nested-loading>.ant-spin-container,
.ant-spin-nested-loading>.ant-spin-container>ul >li,
.ant-btn,
.left_detail>div,
.ss
{
  background-color: var(--homeindex-color);
  color: var(--color);
}
