.nofand{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ccc;
    .fand{
        width: 736px;
        height: auto;
        position: absolute;
        left: 350px;
        top: 100px;
        .ant-btn{
            background: red;
            color: white;
            margin-left: 320px;
            margin-top: 30px;
        }

    }
}