.detail_main {
  height: auto;
  width: 100%;
  margin-left: 170px;
  position: relative;
  display: flex;
  .detail_left{
    width: 50%;
    .left_detail {
    width: 100%;
    background-color: white;
  }
  }
  .detail_right{
    width: 40%;
    padding: 20px 80px;
    box-sizing: border-box;
    overflow: hidden;
    .rights{
      width: 360px;
      position: fixed;
    right: 60px;
    top: 50px;
    }
   
  }
  .right_detail {
    position: fixed;
    right: 110px;
    top: 350px;
    width: 300px;
  }
  
  .comment{
    height: auto;
    width: 100%;
    background-color: #e7eaee;
    h1{
      text-align: center;
      line-height: 100px;
      
    }
    .commentInput{
      width: 100%;
      height: 300px;
      background-color: white;
    }
  }
  .active {
    color: red;
  }
  
  .show {
    display: none;
  }
  .dialog {
    width: 100%;
    height: 100%;
   background: red;
  }
  .KnowModule{
    display: none;
  }
  .imgs{
      width: 100%;height: 300px;
      display: inline-block;
      margin-bottom:30px;
  }

}
@media screen and (max-width: 1280px) {
  .detail_main{
    .detail_left{
      width: 50%;
    }
    .detail_right{
      width: 40%;
      padding: 20px 80px;
      box-sizing: border-box;
      overflow: hidden;
      .rights{
        width: 300px;
        position: fixed;
        right: 60px;
        top: 50px;
      }
     
    }
    .right_detail {
      position: fixed;
      right: 60px;
      top: 350px;
      width: 300px;
    }

  }
}
@media screen and (max-width: 1090px) {
  .detail_main{
    .detail_left{
      width: 50%;
    }
    .detail_right{
      width: 40%;
      padding: 20px 80px;
      box-sizing: border-box;
      overflow: hidden;
      .rights{
        width: 200px;
        position: fixed;
        right: 60px;
        top: 50px;
      }
     
    }
    .right_detail {
      position: fixed;
      right: 60px;
      top: 350px;
      width: 200px;
    }

  }
}
@media screen and (max-width: 930px) {
  .detail_main{
    .detail_left{
      width: 100%;
    }
    .detail_right{
      width: 0%;
      padding: 20px 80px;
      box-sizing: border-box;
      overflow: hidden;
      .rights{
        display: none;
        width: 200px;
        position: fixed;
        right: 60px;
        top: 50px;
      }
     
    }
    .right_detail {
      display: none;
      position: fixed;
      right: 60px;
      top: 350px;
      width: 200px;
    }

  }
}


.leftfixed{
  display: flex;
  position: fixed;
  flex-direction: column;
  flex-wrap: wrap;
  left: 100px;
  top: 150px;
  font-size: 22px;
  text-align: center;
  height: 128px;
  justify-content: space-between;
  div{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: white;
    color: #ccc;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    .Smallround{
      width: 20px;
      height: 20px;
      background: red;
      position: absolute;
      top:-30px;
      right: -5px;
      border-radius: 50%;
      font-size: 12px;
      color: white;
    }
    span:hover{
      color: red;
    }
  }
}
.RightPlace{
  width: 100%;
  height: 35px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 180px;
}
.ant-modal-content{
  width: 380px;
  height: 560px;
}