.cartoon {
    overflow: hidden;
    height: 200px;
    animation: moven 1.5s;
    display: flex;
    flex-direction: column;
    li {
        display: inline-block;
        flex: 1;
        width: 100%;
        animation: movens ;
        line-height: 40px;
        white-space: nowrap;  
        text-overflow:ellipsis; 
        overflow:hidden;
  span{
    line-height: 40px;
  }
    }
}
@keyframes movens {
    from {
        margin-left: -100%;
        // width: 0;
    }
    to {
        margin-left: 0;
        // width: 100%;
    }
}
@keyframes moven {
    from {
        height: 0px;
    }
    to {
        height: 200px;
    }
}
