.Tatle{
        width: 960px;
        height: auto;
        margin-left: 180px;
        .TatleLeft{
            width: 600px;
            height: auto;
            .TatleTop{
                width: 100%;
                height: 30px;
            }
            .header{
                width: 100%;
                height:  130px;
                background-color: white;
                margin-bottom: 20px;
                h1{
                    width: 100%;
                    height:  130px;
                    text-align: center;
                    line-height: 130px;
                    span{
                        color: red;
                    font-weight: 900;
                    font-size: 30px;
                    }
                }
            }
            .main{
                width: 100%;
                height:  auto;background-color: white;
                margin-bottom: 20px;
                h4{
                    padding-left: 15px;
                    line-height: 50px;
                    font-size: 25px;
                }
                .mainUl{
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    li{
                        border: 1px solid red;
                        text-align: center;
                        padding:0 10px 0 10px;
                        margin: 8px;
                    }
                }
            }
            .footer{
                width: 100%;
                height:  130px;background-color: white;
                h1{
                    text-align: center;
                    line-height: 130px;
                    font-size: 20px;
                }
            }
        }
}
.action{
    background-color: red;
    color: white;
}