@import '~antd/dist/antd.css';

*{
    padding: 0;
    margin: 0;
}


div,p,ul,ol,li,dl,dt,dd,form,table,h1,h2,h3,h4,h5,h6,input,select,textarea,span,strong,em,b,i,u,a,img,*{padding:0;margin:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
body { font-family: "宋体"; font-size: 15px;  color: #000; background-color: #fff; }
ul,ol,li { list-style: none; }
h1,h2,h3,h4,h5,h6{ font-size: 14px;}
img{ border: none;}
img,input,textarea,select,option,output,span,a,b,em,i,strong,u,s,button,label{ vertical-align:middle;}
table{border-collapse:collapse;}
a { background: transparent; text-decoration: none; color: #333; }
a:hover{  color: #f90; }
.lgd{ background:linear-gradient(90deg,#f00,#ff0);}
.clear{ clear:both; height: 0; width: 0; overflow: hidden;}
body,html{ height:100%;width:100%;}
html,
body,
#root {
    width: 100vw;
    height: 100vh;
}
